# data cleaning for disney project

In [1]:
import pandas as pd 
import numpy as np 
import openpyxl
import os

In [2]:
df=pd.read_csv('disney_movies_total_gross.csv')

In [3]:
df

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730
...,...,...,...,...,...,...
574,The Light Between Oceans,2016-09-02,Drama,PG-13,12545979,12545979
575,Queen of Katwe,2016-09-23,Drama,PG,8874389,8874389
576,Doctor Strange,2016-11-04,Adventure,PG-13,232532923,232532923
577,Moana,2016-11-23,Adventure,PG,246082029,246082029
578,Rogue One: A Star Wars Story,2016-12-16,Adventure,PG-13,529483936,529483936

In [4]:
df.rename(columns={'movie_title':'Title'},inplace=True)

In [5]:
df.rename(columns={'release_date':'Release_Date',
                   'mpaa_rating':'MPAA_Rating',
                   'total_gross':'Toatl_Gross',
                    'inflation_adjusted_gross':'Adjusted_Gross'},inplace=True)

In [6]:
df.rename(columns={'genre':'Genre'},inplace=True)

In [7]:
df

,Title,Release_Date,Genre,MPAA_Rating,Toatl_Gross,Adjusted_Gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730
...,...,...,...,...,...,...
574,The Light Between Oceans,2016-09-02,Drama,PG-13,12545979,12545979
575,Queen of Katwe,2016-09-23,Drama,PG,8874389,8874389
576,Doctor Strange,2016-11-04,Adventure,PG-13,232532923,232532923
577,Moana,2016-11-23,Adventure,PG,246082029,246082029
578,Rogue One: A Star Wars Story,2016-12-16,Adventure,PG-13,529483936,529483936

In [8]:
df['Genre'].unique()

array(['Musical', 'Adventure', 'Drama', 'Comedy', nan, 'Action', 'Horror',
       'Romantic Comedy', 'Thriller/Suspense', 'Western', 'Black Comedy',
       'Documentary', 'Concert/Performance'], dtype=object)

In [9]:
df[df['Genre'].isna()|(df['Genre']=='')]

,Title,Release_Date,Genre,MPAA_Rating,Toatl_Gross,Adjusted_Gross
20,The Many Adventures of Winnie the Pooh,1977-03-11,NaN,NaN,0,0
22,Herbie Goes to Monte Carlo,1977-06-24,NaN,NaN,28000000,105847527
23,The Black Hole,1979-12-21,NaN,NaN,35841901,120377374
24,Midnight Madness,1980-02-08,NaN,NaN,2900000,9088096
25,The Last Flight of Noahâ€™s Ark,1980-06-25,NaN,NaN,11000000,34472116
26,The Devil and Max Devlin,1981-01-01,NaN,NaN,16000000,48517980
121,Newsies,1992-04-08,NaN,PG,2706352,5497481
122,Passed Away,1992-04-24,NaN,PG-13,4030793,8187848
128,A Gun in Betty Lou's Handbag,1992-08-21,NaN,PG-13,3591460,7295423
146,Bound by Honor,1993-04-16,NaN,R,4496583,9156084
155,My Boyfriend's Back,1993-08-06,NaN,PG-13,3218882,6554384
156,Father Hood,1993-08-27,NaN,PG-13,3268203,6654819
168,Red Rock West,1994-01-28,NaN,R,2502551,5170709
251,The War at Home,1996-11-20,NaN,R,34368,65543
304,Endurance,1999-05-14,NaN,PG,229128,380218
350,High Heels and Low Lifes,2001-10-26,NaN,R,226792,337782
355,Frank McKlusky C.I.,2002-01-01,NaN,NaN,0,0

In [10]:
df['Genre'].fillna('Genre_Missing',inplace=True)

In [11]:
df['MPAA_Rating'].unique()

array(['G', nan, 'Not Rated', 'PG', 'R', 'PG-13'], dtype=object)

In [12]:
df['MPAA_Rating'].isnull().sum()

56

In [13]:
df['MPAA_Rating'].isna()|(df['MPAA_Rating']=='')

0      False
1      False
2      False
3      False
4      False
       ...
574    False
575    False
576    False
577    False
578    False
Name: MPAA_Rating, Length: 579, dtype: bool

In [14]:
df['MPAA_Rating'].fillna('MPAA_MISSING',inplace=True)

In [15]:
df['MPAA_Rating'].isnull().sum()

0

In [16]:
df.loc[df['MPAA_Rating']=='Not Rated',df.columns[:4]]

                        Title Release_Date        Genre MPAA_Rating
11                Bon Voyage!   1962-05-17       Comedy   Not Rated
13            The Jungle Book   1967-10-18      Musical   Not Rated
404  America's Heart and Soul   2004-07-02  Documentary   Not Rated

In [17]:
df.loc[df['MPAA_Rating']=='Not Rated','MPAA_Rating']='G'

In [18]:
df['MPAA_Rating']

0          G
1          G
2          G
3          G
4          G
       ...
574    PG-13
575       PG
576    PG-13
577       PG
578    PG-13
Name: MPAA_Rating, Length: 579, dtype: object

In [19]:
df['Title']=="â‚¬"

0      False
1      False
2      False
3      False
4      False
       ...
574    False
575    False
576    False
577    False
578    False
Name: Title, Length: 579, dtype: bool

In [20]:
 df

,Title,Release_Date,Genre,MPAA_Rating,Toatl_Gross,Adjusted_Gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730
...,...,...,...,...,...,...
574,The Light Between Oceans,2016-09-02,Drama,PG-13,12545979,12545979
575,Queen of Katwe,2016-09-23,Drama,PG,8874389,8874389
576,Doctor Strange,2016-11-04,Adventure,PG-13,232532923,232532923
577,Moana,2016-11-23,Adventure,PG,246082029,246082029
578,Rogue One: A Star Wars Story,2016-12-16,Adventure,PG-13,529483936,529483936

In [23]:
df.to_excel("Disney Movies output.xlsx", index=False)

In [22]:
df.head()

,Title,Release_Date,Genre,MPAA_Rating,Toatl_Gross,Adjusted_Gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730